<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard - OSA Diagnosis</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
 
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">OSA Diagnosis</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                
                <ul class="navbar-nav ml-auto"> <!-- ml-auto for right alignment -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Body Content -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <form action="/new_patient" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-block mb-3">New Patient</button>
                </form>
            </div>
            <div class="col-md-6">
                <form action="/old_patient" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary btn-block mb-3">Old Patient</button>
                </form>
            </div>
        </div>


    <!-- Footer -->
    <footer class="bg-dark text-light text-center py-3 fixed-bottom">
        <div class="container">
            <p>&copy; 2024 OSA Diagnosis. All rights reserved.</p>
        </div>
    </footer>

    <!-- Include Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>
