<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ patient.first_name }} {{ patient.last_name }} - Patient Profile</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .flex-item {
            margin-bottom: 20px;
        }

        .content-wrapper {
            min-height: calc(100vh - 50px);
            /* Subtracting the height of the footer */
        }

        /* Style for the fixed image */
        #model_image {
            position: fixed;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            z-index: 9999;
            display: none;
            /* Initially hide the image */
        }

        /* Adjust margin for the form */
        .model-form {
            margin-right: 20px;
            /* Adjust this value as needed */
        }
    </style>
</head>

<body>
    {%load static%}
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">OSA Diagnosis</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Body Content -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 content-wrapper">
                <h1 class="mb-4">{{ patient.first_name }} {{ patient.last_name }} - Patient Profile</h1>

                <!-- First Row -->
                <div class="row">
                    <!-- Patient Details Card -->
                    <div class="col-md-6">
                        <div class="card bg-light flex-item h-100">
                            <div class="card-body">
                                <h2 class="card-title">Patient Details</h2>
                                <p><strong>Age:</strong> {{ patient.age }}</p>
                                <p><strong>Sex:</strong> {{ patient.sex }}</p>
                                <p><strong>Weight:</strong> {{ patient.weight }}</p>
                                <p><strong>Height:</strong> {{ patient.height }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- BMI Card -->
                    <div class="col-md-6">
                        <div class="card bg-light flex-item h-100">
                            <div class="card-body">
                                <h2 class="card-title">Body Mass Index (BMI)</h2>
                                <!-- Display BMI here -->
                                <p><strong>BMI:</strong> {{ bmi }}</p>
                                <!-- Display BMI Category using Bootstrap progress bar -->
                                <div class="progress">
                                    {% if bmi_category == 'Underweight' %}
                                    <div class="progress-bar bg-dark" role="progressbar" style="width: 25%; color: black;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Underweight</div>
                                    <div class="progress-bar bg-light" role="progressbar" style="width: 25%; color: black;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Normal</div>
                                    <div class="progress-bar bg-light" role="progressbar" style="width: 25%; color: black;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Overweight</div>
                                    <div class="progress-bar bg-light" role="progressbar" style="width: 25%; color: black;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Obese</div>
                                    {% elif bmi_category == 'Normal' %}
                                    <div class="progress-bar bg-light" role="progressbar" style="width: 25%; color: black;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Underweight</div>
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%; color: black;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Normal</div>
                                    <div class="progress-bar bg-light" role="progressbar" style="width: 25%; color: black;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Overweight</div>
                                    <div class="progress-bar bg-light" role="progressbar" style="width: 25%; color: black;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Obese</div>
                                    {% elif bmi_category == 'Overweight' %}
                                    <div class="progress-bar bg-light" role="progressbar" style="width: 25%; color: black;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Underweight</div>
                                    <div class="progress-bar bg-light" role="progressbar" style="width: 25%; color: black;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Normal</div>
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 25%; color: black;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Overweight</div>
                                    <div class="progress-bar bg-light" role="progressbar" style="width: 25%; color: black;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Obese</div>
                                    {% elif bmi_category == 'Obese' %}
                                    <div class="progress-bar bg-light" role="progressbar" style="width: 25%; color: black;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Underweight</div>
                                    <div class="progress-bar bg-light" role="progressbar" style="width: 25%; color: black;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Normal</div>
                                    <div class="progress-bar bg-light" role="progressbar" style="width: 25%; color: black;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Overweight</div>
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 25%; color: black;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Obese</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Second Row -->
                <div class="row mt-4">
                    <!-- Model Selection Form -->
                    <div class="col-md-6">
                        <div class="card bg-primary text-white flex-item h-100 position-relative">
                            <div class="card-body">
                                <h2 class="card-title">Select Model</h2>
                                <form id="diagnosis-form" method="POST"
                                    action="{% url 'new_patient_profile' patient.id %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="model_select">Choose a Model:</label>
                                        <select class="form-control" id="model_select" name="model"
                                            onchange="showModelImage()">
                                            <option value="">Select</option>
                                            <option value="model1">Model1</option>
                                            <option value="model2">Model2</option>
                                            <!-- Add more options for other models if needed -->
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-light btn-block"
                                        id="diagnose-btn">Diagnose</button>
                                </form>
                                <!-- Spinner markup -->
                                <div id="loading-spinner" style="display: none;">
                                    <div class="spinner-border text-light" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <p class="text-light">Please wait...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Image corresponding to selected model -->
                    <div class="col-md-6">
                        <div class="card bg-light flex-item h-100">
                            <div class="card-body">
                                <h2 class="card-title">Model Image</h2>
                                <div id="model_image_container">
                                    <!-- Placeholder for model image -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Third Row -->
                <div class="row mt-4 justify-content-center">
                    <!-- Diagnosis Result Card -->
                    <div class="col-md-8">
                        <div class="card bg-info text-white flex-item h-100">
                            <div class="card-body">
                                <h2 class="card-title text-center">Diagnosis Output</h2>
                                {% if diagnosis_output %}
                                <div style="font-weight: bold; color: #ff6f00;">
                                    <p class="text-center">Apneac Events: <span
                                            style="color: #131111;">{{ apneac_events }}</span></p>
                                    <p class="text-center">Total Events: <span
                                            style="color: #110f0f;">{{ total_events }}</span></p>
                                </div>
                                <div style="font-weight: bold; color: #00b0ff;" class="text-center">
                                    <p><span style="color: #0c0b0b;">{{ diagnosis_output }}</span></p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-light text-center py-3">
        <div class="container">
            <p>&copy; 2024 OSA Diagnosis. All rights reserved.</p>
        </div>
    </footer>

    <!-- Include Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#diagnosis-form').on('submit', function () {
                $('#diagnose-btn').hide(); // Hide the diagnose button
                $('#loading-spinner').show(); // Show the loading spinner
            });
        });

        function showModelImage() {
            var modelSelect = document.getElementById("model_select");
            var modelImageContainer = document.getElementById("model_image_container");
            var selectedModel = modelSelect.value;

            if (selectedModel !== "") {
                // Create an img element for the selected model
                var imgElement = document.createElement("img");
                imgElement.src = "{% static 'css/' %}" + selectedModel + ".png";
                imgElement.classList.add("img-fluid", "mt-3");
                imgElement.alt = "Model Image";

                // Clear the previous model image if any
                modelImageContainer.innerHTML = "";

                // Append the new model image
                modelImageContainer.appendChild(imgElement);

            } else {
                // Clear the model image container if no model is selected
                modelImageContainer.innerHTML = "";
            }
        }
    </script>

</body>

</html>
