<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ patient.first_name }} {{ patient.last_name }} - Patient Profile</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .flex-item {
            margin-bottom: 20px;
        }

        .content-wrapper {
            min-height: calc(100vh - 50px);
            /* Subtracting the height of the footer */
        }

        /* Style for the fixed image */
        #model_image {
            position: fixed;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            z-index: 9999;
            display: none;
            /* Initially hide the image */
        }

        /* Adjust margin for the form */
        .model-form {
            margin-right: 20px;
            /* Adjust this value as needed */
        }
    </style>
</head>

<body>
    {%load static%}
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">OSA Diagnosis</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Body Content -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 content-wrapper">
                <h1 class="mb-4">{{ patient.first_name }} {{ patient.last_name }} - Patient Profile</h1>

                <!-- First Row -->
                <div class="row">
                    <!-- Patient Details Card -->
                    <div class="col-md-6">
                        <div class="card bg-light flex-item h-100">
                            <div class="card-body">
                                <h2 class="card-title">Patient Details</h2>
                                <p><strong>Age:</strong> {{ patient.age }}</p>
                                <p><strong>Sex:</strong> {{ patient.sex }}</p>
                                <p><strong>Weight:</strong> {{ patient.weight }}</p>
                                <p><strong>Height:</strong> {{ patient.height }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- BMI Card -->
                    <div class="col-md-6">
                        <div class="card bg-light flex-item h-100">
                            <div class="card-body">
                                <h2 class="card-title">Body Mass Index (BMI)</h2>
                                <!-- Display BMI here -->
                                <p><strong>BMI:</strong> {{ bmi }}</p>
                                <p><strong>Category:</strong> {{ bmi_category }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Second Row -->
                <div class="row mt-4">
                    <!-- Model Selection Form -->
                    <div class="col-md-6">
                        <div class="card bg-primary text-white flex-item h-100">
                            <div class="card-body">
                                <h2 class="card-title">Select Model</h2>
                                <form id="diagnosis-form" method="POST"
                                    action="{% url 'new_patient_profile' patient.id %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="model_select">Choose a Model:</label>
                                        <select class="form-control" id="model_select" name="model"
                                            onchange="showModelImage()">
                                            <option value="">Select</option>
                                            <option value="model1">Model1</option>
                                            <option value="model2">Model2</option>
                                            <!-- Add more options for other models if needed -->
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-light btn-block">Diagnose</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Image corresponding to selected model -->
                    <div class="col-md-6">
                        <div class="card bg-light flex-item h-100">
                            <div class="card-body">
                                <h2 class="card-title">Model Image</h2>
                                <div id="model_image_container">
                                    <!-- Placeholder for model image -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Third Row -->
                <div class="row mt-4">
                    <!-- Diagnosis Result Card -->
                    <div class="col-md-12">
                        <div class="card bg-info text-white flex-item h-100">
                            <div class="card-body">
                                <h2 class="card-title">Diagnosis Output</h2>
                                {% if diagnosis_output %}
                                <p><b>{{ diagnosis_output }}</b></p>
                                <p>Apneac Events: {{ apneac_events }}</p>
                                <p>Total Events: {{ total_events }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-light text-center py-3">
        <div class="container">
            <p>&copy; 2024 OSA Diagnosis. All rights reserved.</p>
        </div>
    </footer>

    <!-- Include Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function showModelImage() {
            var modelSelect = document.getElementById("model_select");
            var modelImageContainer = document.getElementById("model_image_container");
            var selectedModel = modelSelect.value;

            if (selectedModel !== "") {
                // Create an img element for the selected model
                var imgElement = document.createElement("img");
                imgElement.src = "{% static 'css/' %}" + selectedModel + ".png";
                imgElement.classList.add("img-fluid", "mt-3");
                imgElement.alt = "Model Image";

                // Clear the previous model image if any
                modelImageContainer.innerHTML = "";

                // Append the new model image
                modelImageContainer.appendChild(imgElement);

            } else {
                // Clear the model image container if no model is selected
                modelImageContainer.innerHTML = "";
            }
        }
    </script>

</body>

</html>