{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSA_Diagnosis</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'css/index_style.css' %}"> -->
</head>

<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">OSA Diagnosis</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signin">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="bg-light text-center py-5">
        <div class="container">
            <h1>Welcome to OSA Diagnosis</h1>
            <p class="lead">Using ECG for Sleep Apnea Detection</p>
        </div>
    </header>

    <!-- Main Content with Two OSA Diagnosis Images -->
    <main class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center img-container">
                <img src="{% static 'css/osa.png' %}" class="img-fluid" alt="OSA Diagnosis Image 1">
            </div>
            <div class="col-md-6 text-center img-container">
                <img src="{% static 'css/ecg.png' %}" class="img-fluid" alt="OSA Diagnosis Image 2">
            </div>
        </div>
        <!-- Sleep Apnea Information -->
        <section class="mt-4">
            <div class="container">
                <h2 class="text-center">Sleep Apnea</h2>
                <p>Sleep apnea is a sleep disorder characterized by pauses in breathing or periods of shallow breathing
                    during sleep. It can have various health implications and often goes undiagnosed.</p>

                <h3 class="text-center">Types of Sleep Apnea</h3>
                <ol>
                    <li><strong>Obstructive Sleep Apnea (OSA):</strong></li>
                    <p>Obstructive sleep apnea is the most common type. It occurs when the muscles in the throat relax
                        excessively, leading to a blockage of the airway. This blockage can result in pauses in breathing or
                        shallow breathing during sleep.</p>

                    <li><strong>Central Sleep Apnea (CSA):</strong></li>
                    <p>Central sleep apnea is less common and involves a failure of the brain to send the appropriate
                        signals to the muscles to breathe. Unlike OSA, there is no physical obstruction in the airway.</p>

                    <li><strong>Complex Sleep Apnea Syndrome (Treatment-Emergent Central Sleep Apnea):</strong></li>
                    <p>Complex sleep apnea syndrome, also known as treatment-emergent central sleep apnea, occurs when a
                        person initially diagnosed with OSA later develops symptoms of central sleep apnea, often as a
                        result of continuous positive airway pressure (CPAP) therapy for OSA.</p>
                </ol>

                <h3 class="text-center">Symptoms</h3>
                <p>Common symptoms of sleep apnea include:</p>
                <ul>
                    <li>Loud snoring</li>
                    <li>Episodes of breathing cessation followed by gasping or choking sounds</li>
                    <li>Excessive daytime sleepiness</li>
                    <li>Difficulty concentrating</li>
                    <li>Irritability</li>
                </ul>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="bg-dark text-light text-center py-3">
        <div class="container">
            <p>&copy; 2024 OSA Diagnosis. All rights reserved.</p>
        </div>
    </footer>

    <!-- Include Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>
